.homepage_container{
display: flex;
flex-direction: column;
height: 100vh;

}
.maincontent{
display: flex;
}

.content{
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: auto;


}