body{
    box-sizing: border-box;
}
.card{
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0px 20px;
    position: relative;
    border: 1px solid #6358DC;
    width: 240px;
}
.cardheader{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.projectname{
    margin:0px;
    margin-top: 10px;
}
.hr{
width: 100%;
}
.card::after{
    content: "";
    position: absolute;
    left:0px;
    bottom: 0px;
    width:  100%;
    height: 4px;
    background-color: #6358DC;
     border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 

}
.cardbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 9px;
}
.bodycontent{
    margin: 0px;
}

