.projectscontainer{
 width: 90%;
 margin: 5px auto;

    
}
.projectcards{
display: inline-flex;
flex-wrap: wrap;
gap: 20px;
}
.createcard{
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height:184px ;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0px 20px;
    border: 1px solid #6358DC;
    position: relative;
}

.createcard::after{
    content: "";
    position: absolute;
    left:0px;
    bottom: 0px;
    width:  100%;
    height: 4px;
    background-color: #6358DC;
     border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 

}
.createcontent1{
    margin: 0px;
    margin-top: 10px;
}
.createcontent2{
    margin: 0px;
    font-size: 50px;
    font-weight: normal;
}
.hr{
    width: 100%;
    margin: 0px;
}
